<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RegisterCompany</title>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/css/style.css"> 
    
    
</head>
<body>
	
	
	<!-- NAV --> 
	
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">TFG</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listUsers">Usuarios</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/listCompany">Empresas</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link disabled">Roles</a>
        </li>
      </ul>
      <form th:action="@{/logout}" method="post" class="d-flex">
        <button class="btn btn-outline-danger"  type="submit">Cerrar Sesión</button>
      </form>
    </div>
  </div>
</nav>
	<!-- FIN NAV --> 

	
	
	
   <div class="container my-3">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center mb-4">REGISTRO EMPRESA</h2>
                    <form th:action="@{/addComp}" th:object="${company}" method="post">
                        <div class="mb-3">
                            <label for="company_name" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="company_name" name="companyName" th:field="*{companyName}" required>
                        </div>
                        <div class="mb-3">
                            <label for="company_industria" class="form-label">Industria:</label>
                            <input type="text" class="form-control" id="company_industria" name="companyIndustria" th:field="*{companyIndustria}" required>
                        </div>
                        <div class="mb-3">
                            <label for="company_ubicacion" class="form-label">Ubicación:</label>
                            <input type="text" class="form-control" id="company_ubicacion" name="companyUbicacion" th:field="*{companyUbicacion}" required>
                        </div>
                        <div class="mb-3">
                            <label for="company_telefono" class="form-label">Telefono:</label>
                            <input type="text" class="form-control" id="company_telefono" name="companyTelefono" th:field="*{companyTelefono}" pattern="^[0-9]{9}$" title="Por favor, introduce un número de teléfono válido de 9 dígitos" required>
                        </div>
                        <div class="mb-3">
                            <label for="company_email" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="company_email" name="companyEmail" th:field="*{companyEmail}" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" title="Por favor, introduce una dirección de correo electrónico válida" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Registrar Empresa</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- FORM SIN BOOTSTRPAP 

 <h2>REGISTRO EMPRESA</h2>
    
    
    <form th:action="@{/addComp}" th:object="${company}" method="post">
        <label for="company_name">Nombre:</label>
        <input type="text" id="company_name" name="companyName" th:field="*{companyName}" required><br>

        <label for="company_industria">Industry:</label>
        <input type="text" id="company_industria" name="companyIndustria" th:field="*{companyIndustria}" required><br>

        <label for="company_ubicacion">Location:</label>
        <input type="text" id="company_ubicacion" name="companyUbicacion" th:field="*{companyUbicacion}" required><br>

        <label for="company_telefono">Telefono:</label>
        <input type="text" id="company_telefono" name="companyTelefono" th:field="*{companyTelefono}" pattern="^[0-9]{9}$" 
        title="Por favor, introduce un número de teléfono válido de 9 dígitos" required><br>

        <label for="company_email">Email:</label>
        <input type="email" id="company_email" name="companyEmail" th:field="*{companyEmail}" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" 
           title="Por favor, introduce una dirección de correo electrónico válida" required><br>

        <button type="submit">Registrar Empresa</button>
    </form>
    
 END -->
 
 <footer th:fragment="vistaFooter" class="bg-dark fixed-bottom">
    <div class="text-center p-2 container-fluid">
      <p class="text-white">Copyright by<span></span>
        <a class="text-decoration-none text-warning fw-bold" rel="nofollow noopener noreferrer" href="#" target="_blank">
        Luciano Alvarez</a> | Todos los derechos reservados.</p>
    </div>
  </footer>
 
 <!-- CDN DE JS -->
   <!--  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
    
<script src="/js/bootstrap.bundle.min.js"></script> 

</body>
</html>
