<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>Mis Reservas</title>
    <link rel="icon" href="/img/logo.PNG" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/list.css"> 
    <style>
	 .navbar-logo {
		    width: 30px;
		    height: 30px;
		}
</style>
</head>
<body>
    <div th:switch="${rolID}">
        <div th:case="'3'">
            <div th:replace="~{fragments/nav :: vistaUser}"></div>
            <div th:replace="~{fragments/footer :: vistaFooter}"></div>
        </div>
    </div>

    <div class="container my-5">
    <h1 class="text-center mb-4 text-white">MIS RESERVAS</h1>
    
    <!-- Mensaje de éxito 

    <div th:if="${reservaExito}" class="alert alert-success text-center" role="alert">
        <span th:text="${reservaExito}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
    -->
    
    <!-- Mensaje de eliminación con éxito -->
    <div th:if="${reservaEliminadaExito}" class="alert alert-success text-center" role="alert">
        <span th:text="${reservaEliminadaExito}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
    <!-- Mensaje si no hay reservas -->
    <div th:if="${#lists.isEmpty(reservas)}" class="alert alert-info text-center" role="alert">
        No tienes reservas.
    </div>
    
    <div th:if="${!#lists.isEmpty(reservas)}" class="table-responsive">
        <table class="table table-hover align-middle bg-white">
            <thead class="table-dark text-center">
                <tr>
                    <th>Sala</th>
                    <th>Fecha Entrada</th>
                    <th>Fecha Salida</th>
                    <th>Fila</th>
                    <th>Asiento</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="reserva : ${reservas}" class="text-center">
                    <td th:text="${'Sala ' + reserva.sala.salaNumero}"></td>
                    <td th:text="${#temporals.format(reserva.fechaEntrada, 'dd/MM/yyyy HH:mm')}"></td>
                    <td th:text="${#temporals.format(reserva.fechaSalida, 'dd/MM/yyyy HH:mm')}"></td>
                    <td th:text="${reserva.asiento.posicionFila}"></td>
                    <td th:text="${reserva.asiento.posicionColumna}"></td>
                    <td class="text-center">
                        <div role="group">
                            <a th:href="@{/deleteReserva/{id}(id=${reserva.reservaId})}" class="delete-button btn btn-danger btn-sm">Eliminar</a>
                        </div>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var botonesEliminar = document.querySelectorAll('.delete-button'); // Actualizado el selector

        botonesEliminar.forEach(function(boton) {
            boton.addEventListener('click', function(event) {
                event.preventDefault();

                Swal.fire({
                    title: '¿Estás seguro?',
                    text: 'No podrás deshacer esta acción',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Sí, eliminar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = boton.getAttribute('href');
                    }
                });
            });
        });
    });
</script>
    
 
    <script>
        // Script para ocultar el mensaje después de 5 segundos
        document.addEventListener('DOMContentLoaded', function () {
            const alertSuccess = document.querySelector('.alert-success');
            if (alertSuccess) {
                setTimeout(() => {
                    alertSuccess.classList.add('fade-out');
                    setTimeout(() => {
                        alertSuccess.remove();
                    }, 500); // Tiempo que tarda en desaparecer (ajustable)
                }, 3000); // 5 segundos (ajustable)
            }
        });
    </script>
    <style>
        .fade-out {
            opacity: 0;
            transition: opacity 0.5s ease-out;
        }
    </style>
    
</body>
</html>
