<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mis Reservas</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div th:switch="${rolID}">
        <div th:case="'3'">
            <div th:replace="~{fragments/nav :: vistaUser}"></div>
            <div th:replace="~{fragments/footer :: vistaFooter}"></div>
        </div>
    </div>

    <div class="container my-3 card" style="padding-bottom: 498px;">
        <h1 class="text-center mb-4">Mis Reservas</h1>
        
        <!-- Mensaje de éxito -->
        <div th:if="${reservaExito}" class="alert alert-success text-center" role="alert">
            <span th:text="${reservaExito}"></span>
        </div>
        
        <!-- Mensaje si no hay reservas -->
        <div th:if="${#lists.isEmpty(reservas)}" class="alert alert-info text-center" role="alert">
            No tienes reservas.
        </div>
        
        <div th:if="${!#lists.isEmpty(reservas)}">
        <table class="table table-striped">
            <thead class="text-center">
                <tr>
                    <!-- <th>Reserva ID</th> -->
                    <th>Sala</th>
                    <th>Fecha Entrada</th>
                    <th>Fecha Salida</th>
                    <th>Fila</th>
                    <th>Asiento</th>
                   <!-- <th>Mapa</th> -->
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="reserva : ${reservas}" class="text-center">
                    <!-- <td th:text="${reserva.reservaId}"></td> -->
                    <td th:text="${'Sala ' + reserva.sala.salaNumero}"></td>
                    <td th:text="${#temporals.format(reserva.fechaEntrada, 'dd/MM/yyyy HH:mm')}"></td>
                    <td th:text="${#temporals.format(reserva.fechaSalida, 'dd/MM/yyyy HH:mm')}"></td>
                    <td th:text="${reserva.asiento.posicionFila}"></td>
                    <td th:text="${reserva.asiento.posicionColumna}"></td>
                  <!--  <td th:text="${reserva.mapa.mapaNombre}"></td>  -->
                    <td th:text="${reserva.reservaCompletada ? 'Completada' : 'Pendiente'}"></td>
                    <td><a th:href="@{/deleteReserva/{id}(id=${reserva.reservaId})}" class="btn btn-danger delete-button">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
    
     <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deleteButtons = document.querySelectorAll('.delete-button');
            deleteButtons.forEach(button => {
                button.addEventListener('click', function (event) {
                    event.preventDefault();
                    const confirmed = confirm('¿Estás seguro de que quieres eliminar esta reserva?');
                    if (confirmed) {
                        window.location.href = this.getAttribute('href');
                    }
                });
            });
        });
    </script>
    
</body>
</html>
