<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservar Asiento</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <style>
        .circle {
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin-right: 5px;
        }
        .circle-success {
            background-color: #28a745;
        }
        .circle-warning {
            background-color: #ffc107;
        }
        .circle-secondary {
            background-color: rgb(154, 153, 150);
        }
    </style>
</head>
<body>
    <div th:switch="${rolID}">
        <div th:case="'3'">
            <div th:replace="~{fragments/nav :: vistaUser}"></div>
            <div th:replace="~{fragments/footer :: vistaFooter}"></div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <h1 class="card-header text-center">Reservar Asiento</h1>
                    
                    <div class="card-header text-center" id="seleccion-reserva" th:if="${fechaFormateada != null}">
                        <span th:text="${fechaFormateada} + ' - ' + ${tipoReservaTexto}"></span>
                    </div>
                    
                    <div class="card-body text-center">
                        <!-- Selección de Fecha -->
                        <div class="mb-3">
                            <form action="#" method="get" id="filterForm">
                                <input type="hidden" name="salaId" th:value="${sala.salaId}">
                                <input type="hidden" name="salaNumero" th:value="${sala.salaNumero}">
                                <input type="hidden" id="fechaFormateada" name="fechaFormateada" th:value="${fechaFormateada}">
                                <input type="hidden" id="tipoReservaTexto" name="tipoReservaTexto" th:value="${tipoReservaTexto}">
                                <input type="hidden" id="horaApertura" th:value="${horaApertura}">
                                <input type="hidden" id="horaCierre" th:value="${horaCierre}">
                                <input type="hidden" id="horaInicioParam" name="horaInicio">
                                <input type="hidden" id="horaFinParam" name="horaFin">

                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="fecha">Fecha:</label>
                                        <input type="date" id="fecha" name="fecha" class="form-control" required>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="tipoReserva">Tipo de Reserva:</label>
                                        <select id="tipoReserva" name="tipoReserva" class="form-control" required>
                                            <option value="" selected disabled>Seleccionar</option>
                                            <option value="completa">Jornada Completa</option>
                                            <option value="media_manana">Media Jornada Mañana</option>
                                            <option value="media_tarde">Media Jornada Tarde</option>
                                            <option value="por_horas">Por Horas</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row justify-content-center">
                                    <div class="col-md-6 mt-3" id="horaReservaDiv" style="display:none;">
                                        <label for="horaReserva">Hora de Reserva:</label>
                                        <select id="horaReserva" name="horaReserva" class="form-control">
                                            <!-- Options will be populated by JavaScript -->
                                        </select>
                                    </div>
                                </div>

                                <div class="row justify-content-center mt-3">
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-primary btn-sm" onclick="buscarAsientos()">Buscar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- FIN DE SELECCIÓN DE FECHA Y TIPO DE RESERVA -->

                        <!-- Mapa de asientos -->
                        <div id="mapaAsientos" th:if="${mostrarMapa}">
                            <!-- Información de asientos libres y ocupados -->
                            <div class="mb-3">
                                <strong>Asientos Libres:</strong> <span th:text="${asientosLibres}"></span>
                                 <span class="mx-3"></span>
                                <strong>Asientos Ocupados:</strong> <span th:text="${asientosOcupados}"></span>
                            </div>

                            <div class="mb-3">
                                <span class="circle circle-success d-inline-block mx-2"></span><strong>Libre</strong>
                                <span class="circle circle-warning d-inline-block mx-2"></span><strong>Seleccionado</strong>
                                <span class="circle circle-secondary d-inline-block mx-2"></span><strong>Ocupado</strong>
                            </div>

                            <!-- Crear una fila para cada fila de asientos -->
                            <div th:each="fila : ${#numbers.sequence(1, sala.numeroFilas)}" class="row mb-3">
                                <div class="col-12">
                                    <div class="d-flex flex-row justify-content-center">
                                        <!-- Dentro de una fila, crear un botón para cada columna -->
                                        <div th:each="columna : ${#numbers.sequence(1, sala.numeroColumnas)}" class="p-1">
                                            <button th:each="asiento : ${asientos}"
                                                    th:if="${asiento.posicionFila == fila and asiento.posicionColumna == columna}"
                                                    th:classappend="${asiento.asientoEstado ? ' btn-success' : ' btn-secondary'}"
                                                    class="btn btn-sm asiento-btn"
                                                    th:data-fila="${fila}"
                                                    th:data-columna="${columna}"
                                                    th:data-estado="${asiento.asientoEstado ? 'Libre' : 'Ocupado'}"
                                                    th:data-asiento-id="${asiento.asientoId}"
                                                    th:data-fecha-inicio="${fechaInicio}"
                                                    th:data-fecha-fin="${fechaFin}"
                                                    th:data-fecha="${fecha}"
                                                    th:data-tipo-reserva="${tipoReserva}"
                                                    th:title="|Fila ${fila} Asiento ${columna}|"
                                                    th:disabled="${!asiento.asientoEstado}"
                                                    id="toggleButton"
                                                    onclick="mostrarDetalleAsiento(this)">
                                                <i class="fas fa-chair"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- FIN Mapa de asientos -->
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header"><strong>Detalles de la reserva</strong></div>
                    <div class="card-body" id="info-asiento">
                        <p>Seleccione una fecha y un tipo de reserva para ver los asientos disponibles.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/asientosUser.js"></script>
</body>
</html>