<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Edita Usuario</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
	
	
	<div class="container my-3 card">
    <h1 class="text-center mb-4">Editar Usuario</h1>
    <form action="/editUserByAdminCompany" method="post">
        <input type="hidden" name="idUser" th:value="${user.userId}">
        <div class="mb-3">
            <label for="user_name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="user_name" name="userName" th:value="${user.userName}" required>
        </div>
        <div class="mb-3">
            <label for="user_email" class="form-label">Email</label>
            <input type="text" class="form-control" id="user_email" name="userEmail" th:value="${user.userEmail}" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" title="Por favor, introduce una dirección de correo electrónico válida" required>
        </div>
        
        <div class="mb-3">
            <label for="user_password" class="form-label">Contraseña:</label>
            <input type="password" class="form-control" id="user_password" name="userPassword" th:value="${user.userPassword}" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" title="La contraseña debe contener al menos 8 caracteres, incluyendo al menos una letra mayúscula, una letra minúscula, un número y un carácter especial como @$!%*?&" required>
         </div>
         <div class="mb-3">
             <label for="user_confirm_password" class="form-label">Repite contraseña:</label>
             <input type="password" class="form-control" id="user_confirm_password" name="userConfirmPassword" th:value="${user.userPassword}" required>
         </div>
      	 <div th:if="${param.error}">
            <p style="color: red;">Las contraseñas no coinciden. Por favor, inténtalo de nuevo.</p>
         </div>
         
         <div class="mb-3">
			 <label for="user_telefono" class="form-label">Telefono:</label>
 		     <input type="text" class="form-control" id="user_telefono" name="userTelefono" th:value="${user.userTelefono}" pattern="^[0-9]{9}$" title="Por favor, introduce un número de teléfono válido de 9 dígitos" required>
         </div>
         <div class="mb-3">
             <label for="user_ciudad" class="form-label">Ciudad:</label>
             <input type="text" class="form-control" id="user_ciudad" name="userCiudad" th:value="${user.userCiudad}" required>
          </div>
          <div class="mb-3">
             <label for="companyId" class="form-label">Empresa:</label>
                <select id="companyId" name="companyId" class="form-select" required>
                  <option value="" selected disabled hidden>Seleccionar Empresa</option>
                  <option th:each="company : ${companies}" th:value="${company.companyId}" th:name="companyId" th:text="${company.companyName}"></option>
                </select>
          </div>
          <div class="mb-3">
            <label for="rol_level" class="form-label">Cargo-Empresa:</label>
              <select id="rol_level" name="rol_level" class="form-select" required>
                 <option value="" selected disabled hidden>Seleccionar Cargo</option>
                 <option th:each="cargo : ${cargos}" th:value="${cargo.rolLevel.rolLevel}" th:name="rol_level" th:text="${cargo.cargoName}"></option>
              </select>
          </div>
                        
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Editar</button>
            <a href="/listUserAdminCompany" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>



</body>
</html>