<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
	
	<!-- BODY ADMIN -->
	
	<div th:fragment="vistaAdmin" class="container my-3 card bg-light">
		<h1 class="text-center mb-4">ESTE ES EL HOME DE ADMIN LUC</h1>
		<div class="text-center mb-4">
		    <p>El administrador deberá poder crear los roles necesarios</p>
		    <p>El administrador deberá poder modificar los roles</p>
		    <p>El administrador deberá poder eliminar los roles</p>
		    <p>El administrador deberá poder asignar permisos a cada rol</p>
		    <p>El administrador deberá poder agregar la empresa a la aplicación con todos sus datos</p>
		    <p>El administrador deberá poder gestionar los datos de la empresa una vez dentro de la App</p>
	    </div>	
	</div>
	
	<!-- FIN BODY ADMIN --> 
	
	
	
	<!-- BODY ADMIN COMPANY -->
	
	<div th:fragment="vistaAdminCompany" class="container my-3 card bg-light">
	
		<h1 class="text-center mb-4">ESTO ES EL HOME DEL ADMINISTRADOR DE LA EMPRESA</h1>
	
	</div>
	
	<!-- FIN DE BODY COMPANY --> 
	
	
	<!-- BODY USER -->
	
	<div th:fragment="vistaUser" class="container my-3 card bg-light">
	
		<h1 class="text-center mb-4">ESTO ES EL HOME DEL USUARIO</h1>
	
	</div>
	
	<!-- FIN BODY USER -->

</body>
</html>