<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="icon" href="/img/logo.PNG" type="image/x-icon">
</head>
<body>
	
 <!-- BODY ADMIN -->
    <div th:fragment="vistaAdmin" class="container mt-3 mb-5">
        <div class="text-center mt-3 mb-5">
            <h1 class="display-4 text-white">Bienvenido a Seataker</h1>
            <p class="lead text-white">La plataforma del <strong>Administrador-Seataker</strong></p>
            <p class="text-muted text-white">La solución perfecta para equipos flexibles</p>
        </div>

        <div class="row mb-5">
            <div class="col-md-4 text-center mb-4">
                <i class="fas fa-building fa-3x text-primary mb-3"></i>
                <h4 class="text-white">Gestión de Empresas</h4>
                <p class="text-muted">Administra fácilmente todas las empresas y sus detalles.</p>
            </div>
            <div class="col-md-4 text-center mb-4">
                <i class="fas fa-th-large fa-3x text-success mb-3"></i>
                <h4 class="text-white">Mapas</h4>
                <p class="text-muted">Crea y gestiona mapas a medida para una mejor organización.</p>
            </div>
            <div class="col-md-4 text-center mb-4">
                <i class="fas fa-user-shield fa-3x text-danger mb-3"></i>
                <h4 class="text-white">Seguridad y Control</h4>
                <p class="text-muted">Mantén el control y la seguridad de tus datos en todo momento.</p>
            </div>
        </div>

       <div class="row mb-5">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="/img/logoBlanco.PNG" class="img-fluid rounded shadow-sm" alt="Imagen de oficina" style="max-width: 60%;">
            </div>
            <div class="col-md-8 d-flex flex-column justify-content-center">
                <h2 class="mb-3 text-white">Sobre Seataker</h2>
                <p class="text-white">Seataker es la herramienta definitiva para la gestión de empresas y la organización de espacios de trabajo. Nuestra plataforma permite a los administradores controlar cada detalle de sus oficinas, desde la creación de empresas hasta la asignación de salas y la gestión de reservas.</p>
                <a href="/learnMore" class="btn btn-primary mt-3 align-self-start">Saber más</a>
            </div>
        </div>
    </div>
    <!-- FIN BODY ADMIN -->
    
    
    
    
    
    
    
    
    
	
	<!-- BODY ADMIN COMPANY-->
    <div th:fragment="vistaAdminCompany" class="container mt-3 mb-5">
        <div class="text-center mt-3 mb-5">
            <h1 class="display-4 text-white">Bienvenido a Seataker</h1>
            <p class="lead text-white">Está usted dentro de la plataforma como <strong>Administrador</strong></p>
            <p class="text-muted text-white">La solución perfecta para equipos flexibles</p>
        </div>

        <div class="row mb-5">
            <div class="col-md-4 text-center mb-4">
               <i class="fas fa-user fa-3x text-primary mb-3"></i>
                <h4 class="text-white">Gestión de Usuarios</h4>
                <p class="text-muted">Administra fácilmente todos los usuarios de su empresa y los detalles.</p>
            </div>
            <div class="col-md-4 text-center mb-4">
                <i class="fas fa-th-large fa-3x text-success mb-3"></i>
                <h4 class="text-white">Mapas</h4>
                <p class="text-muted">Revisar y ver disponibilidad de asientos en cada mapa-sala.</p>
            </div>
            <div class="col-md-4 text-center mb-4">
                <i class="fas fa-user-shield fa-3x text-danger mb-3"></i>
                <h4 class="text-white">Seguridad y Control</h4>
                <p class="text-muted">Control y la seguridad de tus datos están cubiertos en todo momento.</p>
            </div>
        </div>

       <div class="row mb-5">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="/img/logoBlanco.PNG" class="img-fluid rounded shadow-sm" alt="Imagen de oficina" style="max-width: 60%;">
            </div>
            <div class="col-md-8 d-flex flex-column justify-content-center">
                <h2 class="mb-3 text-white">Mis funciones</h2>
                <p class="text-white">Como administrador, desde la plataforma, podrá añadir y gestionar a cada usuario de su empresa. Además también tendrá la capacidad de ver el mapa de las oficinas de tu empresa, revisar y eliminar reservas. </p>
                <a href="#" class="btn btn-primary mt-3 align-self-start">Saber más</a>
            </div>
        </div>
    </div>
    <!-- FIN BODY ADMIN COMPANY -->
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- BODY ADMIN COMPANY-->
    <div th:fragment="vistaUser" class="container mt-3 mb-5">
        <div class="text-center mt-3 mb-5">
            <h1 class="display-4 text-white">Bienvenido a Seataker</h1>
            <p class="lead text-white">Está usted dentro de la plataforma como <strong>Usuario</strong></p>
            <p class="text-muted text-white">La solución perfecta para equipos flexibles</p>
        </div>

        <div class="row mb-5">
            <div class="col-md-4 text-center mb-4">
               <i class="fas fa-calendar-alt fa-3x text-primary mb-3"></i>
                <h4 class="text-white">Gestión de Reservas</h4>
                <p class="text-muted">Selecciona tu reserva en cualquier momento.</p>
            </div>
            <div class="col-md-4 text-center mb-4">
                <i class="fas fa-door-open fa-3x text-success mb-3"></i>
                <h4 class="text-white">Salas</h4>
                <p class="text-muted">Visualiza las salas disponibles y elige la mejor opción.</p>
            </div>
            <div class="col-md-4 text-center mb-4">
                <i class="fas fa-user-shield fa-3x text-danger mb-3"></i>
                <h4 class="text-white">Seguridad y Control</h4>
                <p class="text-muted">Control y la seguridad de tus datos están cubiertos en todo momento.</p>
            </div>
        </div>

       <div class="row mb-5">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="/img/logoBlanco.PNG" class="img-fluid rounded shadow-sm" alt="Imagen de oficina" style="max-width: 60%;">
            </div>
            <div class="col-md-8 d-flex flex-column justify-content-center">
                <h2 class="mb-3 text-white">Mis funciones</h2>
                <p class="text-white">Como usuario, desde la plataforma, podrás reservar tu asiento de forma rápida y facil, 
					además de gestionar cada una de ellas.
					</p>
                <a href="#" class="btn btn-primary mt-3 align-self-start">Saber más</a>
            </div>
        </div>
    </div>
    <!-- FIN BODY ADMIN COMPANY -->

</body>
</html>