<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado Mapas</title>
    <link rel="icon" href="/img/logo.PNG" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<!-- LISTADO DE MAPAS --> 
<div th:fragment="vistaAdminMapa" class="container my-5">
    <h1 class="text-center mb-4 text-white">MAPAS</h1>
    <div class="mb-3">
        <a href="/addMapa" class="btn btn-success" title="Añade un mapa nuevo"><i class="fas fa-plus"></i> <i class="fas fa-map-marked-alt"></i></a>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4" th:each="mapa : ${mapas}">
            <div class="card shadow-lg gradient-bg">
                <div class="card-body">
                    <h5 class="card-title text-white text-center" th:text="${mapa.mapaNombre}"></h5>
                    <p class="card-text text-white text-center">
						<i class="fas fa-building"></i> <span th:text="${mapa.companyMapa.companyName}"></span>
					</p>
                    <div class="d-flex justify-content-between">
                        <a href="/addSala" class="btn btn-success btn-sm" title="Crear Sala"><i class="fas fa-plus"></i> Sala</a>
                        <a th:href="@{/getSalas/{id}(id=${mapa.mapaId})}" class="btn btn-info btn-sm ver-salas" title="Click para ver salas">
                            <i class="fas fa-eye"></i> Ver Salas
                        </a>
                        <a th:href="@{/editMapa/{id}(id=${mapa.mapaId})}" class="btn btn-warning btn-sm" title="Editar Mapa"><i class="fas fa-edit"></i></a>
                        <a th:href="@{/deleteMapa/{id}(id=${mapa.mapaId})}" class="delete-button btn btn-danger btn-sm" title="ELiminar Mapa"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FIN DE LISTADO DE MAPAS --> 

<!-- LISTADO DE SALAS --> 
<div th:fragment="vistaAdminMapa" class="container my-5">
        
        <div class="row">
            <div class="col-md-4 mb-4" th:each="sala : ${salas}">
                <div class="card shadow-lg gradient-bg-salas">
                    <div class="card-body">
						<a href="/listMapas" class="btn btn-light btn-sm ocultar-button"><i class="fas fa-times"></i></a>
                        <h5 class="card-title text-white" th:text="'Sala ' + ${sala.salaNumero} + ' - ' + ${sala.mapaId.mapaNombre}"></h5>
                        <p class="card-text">
                            <strong>Filas: </strong><span class="text-white" th:text="${sala.numeroFilas}"></span><br>
                            <strong>Columnas: </strong><span class="text-white" th:text="${sala.numeroColumnas}"></span><br>
                            <strong>Asientos Totales: </strong><span class="text-white" th:text="${sala.salaAsientosTotales}"></span><br>
                            <strong>Estado: </strong><span class="text-white" th:text="${sala.salaEstado ? 'Activo' : 'Inactivo'}"></span>
                        </p>
                        <div class="d-flex justify-content-center">
                            <a th:href="@{/verAsientos/{id}(id=${sala.salaId})}" class="btn btn-info btn-sm mx-2"><i class="fas fa-eye"></i> Ver</a>
                            <a th:href="@{/editSala/{id}(id=${sala.salaId})}" class="btn btn-warning btn-sm mx-2">Editar</a>
                            <a th:href="@{/deleteSala/{id}(id=${sala.salaId})}" class="delete-button btn btn-danger btn-sm mx-2">Eliminar</a>
                            
                        </div>
                    </div>
                </div>
            </div>
       
    </div>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        $('.ver-salas').tooltip({title: "Haz clic para ver las salas", placement: "top"});
    });
</script>
    
</body>
</html>
