<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
	
	<!-- LISTADO COMPANY ADMIN SUPER--> 
	
	<div th:fragment="vistaAdmin" class="container my-3 card" style="padding-bottom: 334px;">
	
	<h1 class="text-center mb-4">LISTADO DE EMPRESAS</h1>
	
	<div class="mb-3">
        <a href="/addCompany" class="btn btn-success">Add Empresa</a>
    </div>
	
	<table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre Empresa</th>
                <th>Industria</th>
                <th>Ubicacion</th>
                <th>Teléfono</th>
                <th>Email</th>
                 <th>Nombre Admin</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="compa : ${company}">
                
                <td th:text="${compa.companyName}"></td>
                <td th:text="${compa.companyIndustria}"></td>
                <td th:text="${compa.companyUbicacion}"></td>
                <td th:text="${compa.companyTelefono}"></td>
                <td th:text="${compa.companyEmail}"></td>
                
				 <td>
				    <span th:each="admin : ${compa.usuarios}">
				        <span th:each="cargo : ${admin.rolLevel.cargos}">
				            <span th:if="${cargo.cargoName == 'Administrador' || cargo.cargoName == 'Manager'}" th:text="${admin.userName}"></span>
				        </span>
				    </span>
				</td>
                
               <td>
                    <span th:if="${compa.usuarios != null && compa.usuarios.size() > 0}">
                        <button class="btn btn-success" disabled>Add Admin</button>
                    </span>
                    <span th:if="${compa.usuarios == null || compa.usuarios.size() == 0}">
                        <a href="/addAdminCompany" class="btn btn-success">Add Admin</a>
                    </span>
                    
                    <td><a th:href="@{/editCompany/{id}(id=${compa.companyId})}" class="btn btn-warning">Edit</a></td>
            		<td><a th:href="@{/deleteCompany/{id}(id=${compa.companyId})}" class="btn btn-danger delete-button">Delete</a></td>
                    
                </td>
                
                
            	
            	
       
           </tr> 
        </tbody>
    </table>
  </div>
  
  
  <!-- LISTADO COMPANY ADMIN SUPER--> 
	
	
	
	<!-- LISTA COMPANY ADMIN-COMPANY -->
	
		<div th:fragment="vistaAdminCompany" class="container my-3 card" style="padding-bottom: 512px;">
	
	<h1 class="text-center mb-4">MI EMPRESA</h1>
	
	<table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre Empresa</th>
                <th>Industria</th>
                <th>Ubicacion</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Administrador-Empresa</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="compa : ${myCompany}">
                <td th:text="${compa.companyName}"></td>
                <td th:text="${compa.companyIndustria}"></td>
                <td th:text="${compa.companyUbicacion}"></td>
                <td th:text="${compa.companyTelefono}"></td>
                <td th:text="${compa.companyEmail}"></td>
                
                <td>
				    <span th:each="admin : ${compa.usuarios}">
				        <span th:each="cargo : ${admin.rolLevel.cargos}">
				            <span th:if="${cargo.cargoName == 'Manager'}" th:text="${admin.userName}"></span>
				        </span>
				    </span>
				</td>
           </tr>
        </tbody>
    </table>
  </div> 
	
	
  
  <!-- FIN LISTA COMPANY ADMIN-COMPANY -->
  
  <!-- LISTA MY USER -->
  
 <div th:fragment="vistaUser" class="container my-3 card" style="padding-bottom: 512px;">
    <h1 class="text-center mb-4">MI PERFIL USUARIO</h1>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Ubicacion</th>
                <th>Teléfono</th>
                <th>Empresa</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${usuarioGeneral.userName}"></td>
                <td th:text="${usuarioGeneral.userEmail}"></td>
                <td th:text="${usuarioGeneral.userCiudad}"></td>
                <td th:text="${usuarioGeneral.userTelefono}"></td>
                <td th:text="${usuarioGeneral.companyId.companyName}"></td>
            </tr>
        </tbody>
    </table>
</div>
  
  
  <!-- FIN MY USER -->
	
	<!-- CDN DE JS -->
   <!--  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/bootstrap.bundle.min.js"></script> 

    

</body>
</html>