<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
 <link rel="stylesheet" href="/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
	
	<!-- LISTADO ADMIN --> 
	
	
	<div th:fragment="vistaAdmin" class="container my-5">
    <h1 class="text-center mb-4 text-white">USUARIOS</h1>
    <div class="table-responsive">
        <table class="table table-hover align-middle bg-white">
            <thead class="table-dark">
                <tr>
                    <th>Usuario</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Ciudad</th>
                    <th>Cargo</th>
                    <th>Rol</th>
                    <th>Empresa</th>
                    <th>Email Empresa</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.userName}"></td>
                    <td th:text="${user.userEmail}"></td>
                    <td th:text="${user.userTelefono}"></td>
                    <td th:text="${user.userCiudad}"></td>
                    <td>
                        <span th:each="cargo : ${user.rolLevel.cargos}">
                            <span th:text="${cargo.cargoName}"></span>
                        </span>
                    </td>
                    <td th:text="${user.rolLevel.rolLevel}"></td>
                    <td th:text="${user.companyId.companyName}"></td>
                    <td th:text="${user.companyId.companyEmail}"></td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a href="#" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" th:data-bs-target="'#confirmDeleteModal' + ${user.userId}">Eliminar</a>
                        </div>
                        <!-- Modal de confirmación -->
                        <div class="modal fade" th:id="'confirmDeleteModal' + ${user.userId}" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-black" id="confirmDeleteModalLabel">Confirmación de Eliminación</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-black">
                                        ¿Estás seguro de que quieres eliminar a <strong th:text="${user.userName}"></strong>?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <a th:href="@{/deleteUserAdminSuper/{id}(id=${user.userId})}" class="btn btn-danger">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
	
	<!-- LISTADO ADMIN --> 
	
	
	<!-- LISTADO ADMINCOMPANY -->
	
	<div th:fragment="vistaAdminCompany" class="container my-5">
    <h1 class="text-center mb-4 text-white">USUARIOS</h1>
    <div class="mb-3">
        <a href="/addUsuarioByAdminCompany" class="btn btn-success">+ Usuario</a>
    </div>
    <div class="table-responsive">
        <table class="table table-hover align-middle bg-white">
            <thead class="table-dark">
                <tr>
                    <th>Nombre de Usuario</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Ciudad</th>
                    <th>Cargo</th>
                    <th>Rol</th>
                    <th>Empresa</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${usuariosEmpresa}">
                    <td th:text="${user.userName}"></td>
                    <td th:text="${user.userEmail}"></td>
                    <td th:text="${user.userTelefono}"></td>
                    <td th:text="${user.userCiudad}"></td>
                    <td>
                        <span th:each="cargo : ${user.rolLevel.cargos}">
                            <span th:text="${cargo.cargoName}"></span>
                        </span>
                    </td>
                    <td th:text="${user.rolLevel.rolLevel}"></td>
                    <td th:text="${user.companyId.companyName}"></td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a th:href="@{/editUserByAdminCompany/{id}(id=${user.userId})}" class="btn btn-warning btn-sm">Editar</a>
                            <a href="#" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" th:data-bs-target="'#confirmDeleteModal' + ${user.userId}">Eliminar</a>
                            <a th:href="@{/userReserva/{id}(id=${user.userId})}" class="btn btn-info btn-sm">Reservas</a>
                        </div>
                        <!-- Modal de confirmación -->
                        <div class="modal fade" th:id="'#confirmDeleteModal' + ${user.userId}" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-black" id="confirmDeleteModalLabel">Confirmación de Eliminación</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-black">
                                        ¿Estás seguro de que quieres eliminar a <strong th:text="${user.userName}"></strong>?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <a th:href="@{/deleteUser/{id}(id=${user.userId})}" class="btn btn-danger">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

	<!-- LISTADO ADMINCOMPANY -->
	
	
	<!-- RESERVA POR USUARIOS --> 
	
	
	 <div th:fragment="vistaAdminCompany" class="container my-5">
    <h1 class="text-center mb-4 text-white">RESERVAS</h1>
    <div class="mb-3">
        <a href="/listUserAdminCompany" class="btn btn-danger">Ocultar</a>
        
    </div>
    <div class="table-responsive">
        <table class="table table-hover align-middle bg-white">
            <thead class="table-dark">
                <tr>
                    <th>Sala</th>
                    <th>Fecha Entrada</th>
                    <th>Fecha Salida</th>
                    <th>Fila</th>
                    <th>Asiento</th>
                    <th>Estado</th>
                    <th class="text-center">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="reserva : ${reservaUser}">
                    <td th:text="${'Sala ' + reserva.sala.salaNumero}"></td>
                    <td th:text="${#temporals.format(reserva.fechaEntrada, 'dd/MM/yyyy HH:mm')}"></td>
                    <td th:text="${#temporals.format(reserva.fechaSalida, 'dd/MM/yyyy HH:mm')}"></td>
                    <td th:text="${reserva.asiento.posicionFila}"></td>
                    <td th:text="${reserva.asiento.posicionColumna}"></td>
                    <td th:text="${reserva.reservaCompletada ? 'Completada' : 'Pendiente'}"></td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a href="#" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" th:data-bs-target="'#confirmDeleteModal' + ${reserva.reservaId}">Eliminar</a>
                        </div>
                        <!-- Modal de confirmación -->
                        <div class="modal fade" th:id="'confirmDeleteModal' + ${reserva.reservaId}" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-black" id="confirmDeleteModalLabel">Confirmación de Eliminación</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-black">
                                        ¿Estás seguro que quieres <strong>ELIMINAR</strong> esta reserva?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <a th:href="@{/deleteReservaAdminCompany/{id}(id=${reserva.reservaId})}" class="btn btn-danger">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
	
	
	
	
	<!-- FIN DE RESERVA POR USUARIOS --> 
	



 <!-- CDN DE JS -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
    <script src="/js/bootstrap.bundle.min.js"></script> 
    


</body>
</html>