<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="icon" href="/img/logo.PNG" type="image/x-icon">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css"> 


</head>
<body>
	
	<!-- LISTADO COMPANY ADMIN SUPER --> 
<div th:fragment="vistaAdmin" class="container my-5">
    <h1 class="text-center mb-4 text-white">EMPRESAS</h1>
    <div class="mb-3">
        <a href="/addCompany" class="btn btn-success" title="Añade nueva empresa"><i class="fas fa-plus"></i> <i class="fas fa-building"></i></a>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4" th:each="compa : ${company}">
            <div class="card shadow-lg gradient-bg"> 
                <div class="card-body text-center">
                    <h5 class="card-title mt-4" th:text="${compa.companyName}"></h5>
                    <p class="card-text">
                        <i class="fas fa-industry"></i> <span th:text="${compa.companyIndustria}"></span>
                    </p>
                    <p class="card-text">
                        <i class="fas fa-map-marker-alt"></i> <span th:text="${compa.companyUbicacion}"></span>
                    </p>
                    <p class="card-text">
                        <i class="fas fa-phone"></i> <span th:text="${compa.companyTelefono}"></span>
                    </p>
                    <p class="card-text">
                        <i class="fas fa-envelope"></i> <span th:text="${compa.companyEmail}"></span>
                    </p>
                    <p class="card-text">
                        <i class="fas fa-user"></i>
                        <span th:each="admin : ${compa.usuarios}">
                            <span th:each="cargo : ${admin.rolLevel.cargos}">
                                <span th:if="${cargo.cargoName == 'Administrador' || cargo.cargoName == 'Manager'}" th:text="${admin.userName}"></span>
                            </span>
                        </span>
                    </p>
                    <div role="group">
                        <span th:if="${compa.usuarios != null && compa.usuarios.size() > 0}">
                            <button class="btn btn-success btn-sm" disabled title="Administrador de la empresa"><i class="fas fa-user-lock"></i></button>
                        </span>
                        <span th:if="${compa.usuarios == null || compa.usuarios.size() == 0}">
                            <a href="/addAdminCompany" class="btn btn-success btn-sm" title="Añade un administrador a la empresa"><i class="fa-sharp fa-solid fa-user-tie"></i></a>
                        </span>
                        <a th:href="@{/editCompany/{id}(id=${compa.companyId})}" class="btn btn-warning btn-sm" title="Edita datos de la empresa"><i class="fas fa-edit"></i></a>
                        <a th:href="@{/deleteCompany/{id}(id=${compa.companyId})}" class="delete-button btn btn-danger btn-sm" title="Elimina empresa"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- LISTADO COMPANY ADMIN SUPER -->
	
	
	
	<!-- LISTA COMPANY ADMIN-COMPANY -->
	
	<div th:fragment="vistaAdminCompany" class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="profile-header">
                    <img src="/img/company1.jpg" alt="Logo de la Empresa">
                    <h3 th:text="${myCompany[0].companyName}">Nombre de la Empresa</h3>
                    <p class="text-muted" th:text="${myCompany[0].companyIndustria}">Industria</p>
                </div>
                <div class="profile-details">
                    <ul class="info-list">
                        <li><i class="fas fa-map-marker-alt"></i><span th:text="${myCompany[0].companyUbicacion}">Ubicación</span></li>
                        <li><i class="fas fa-phone"></i><span th:text="${myCompany[0].companyTelefono}">Teléfono</span></li>
                        <li><i class="fas fa-envelope"></i><span th:text="${myCompany[0].companyEmail}">Email</span></li>
                        
                        <li>
                            <i class="fas fa-user-tie"></i>
                            <span th:each="admin : ${myCompany[0].usuarios}">
                                <span th:each="cargo : ${admin.rolLevel.cargos}">
                                    <span th:if="${cargo.cargoName == 'Manager'}" th:text="${admin.userName}">Administrador-Empresa</span>
                                </span>
                            </span>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
	
	
  
  <!-- FIN LISTA COMPANY ADMIN-COMPANY -->
	
	<!-- CDN DE JS -->
   <!--  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->

<script src="/js/bootstrap.bundle.min.js"></script> 


</body>
</html>